<h1>New Entry for <%= @place.name %></h1>

<%= form_with model: [@place, @entry], local: true do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :occurred_on, "Date" %>
    <%= f.date_field :occurred_on %>
  </div>

  <div>
    <%= f.submit "Create Entry" %>
  </div>
<% end %>
<%= link_to "Back to Place", place_path(@place) %>