<!DOCTYPE html>
<html>
<head>
  <title>Travel Journal</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
</head>
<body>
  <h1><%= link_to "Travel Journal", root_path %></h1>
  
  <ul>
    <% if session[:user_id] %>
      <li><%= link_to "Logout", logout_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "Login", login_path %></li>
      <li><%= link_to "Sign Up", signup_path %></li>
    <% end %>
  </ul>

  <%= yield %> <!-- This ensures the page content loads here -->
</body>
</html>
