<!DOCTYPE html>
<html>
<head>
  <title>Travel Journal</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
</head>

<body>
  <header>
    <nav>
      <%= link_to "Home", root_path %> |
      <% if logged_in? %>
        Logged in as: <strong><%= current_user.username %></strong> |
        <%= link_to "Logout", logout_path %>
      <% else %>
        <%= link_to "Login", login_path %> |
        <%= link_to "Sign Up", signup_path %>
      <% end %>
    </nav>
  </header>

  <main>
    <%= yield %>
  </main>
</body>
</html>
